
.hidden { display: none; }
        .visible { display: block; }
        .switcher { margin: 10px 0; }
        .content { padding: 20px; border: 1px solid #ccc; }


        .bar {
        border: 2px solid black;
    }

      @font-face {
  font-family: 'cool';
  src: url('https://pf-a.github.io/index/fonts/cool.ttf') format('truetype');
}
      h1, h3 {
  font-family: 'cool', sans-serif;
        color: hotpink;
      text-shadow: 2px 2px cyan;
}
      body {
  background-image: url('https://pf-a.github.io/index/images/old.jpeg');
  background-repeat: repeat;
  background-color: black; /* fallback */
}
     h1, p {
  background-color: yellow; /* or another retro color */
  color: black;
  display: inline;
  padding: 2px 4px;
}
	    h1 {
		    font-size: 64px;
	    }
